{
  // archival or catchup Algorand node config
  // setup serveral nodes to fetch from the fastest one or failover
  "algod": {
    "queue": 10, // buffer up to this number of blocks when processing history
    "nodes": [
      {
        "id": "public-node",
        "address": "https://mainnet-api.algonode.cloud"
      },
      {
         "id": "node-u1",
         "address": "http://localhost:8180",
         "token": "..."
      }
    ]
  },
  "quitOnBlockedSink" : false,  
  "sinks": {
    //All sinks are queried for LastRound state upon startup. Lowest value wins.    
    "stdout-1" : { 
      "enabled" : false,
      "type" : "stdout"
    },
    "redis-1": {
      "enabled" : true,
      "type" : "redis",
      "cfg" : {
        "addr": "192.168.1.210:6379",
        "user": "",
        "pass": "",
        "db": 0
      }        
    },
    "kafka-blk-idx": {
      "enabled" : true,
      "type" : "kafka",
      "cfg" : {
        "addr":"192.168.1.210",
        "user": "",
        "pass": "",
        "client": "algostrmr",
        "compression": true,
        "topic": "blk-idx",
        "partition" : 0,
        "src":"block:json:idx"
      }
    }
  }  
}
